@if (TimeEntryModel is not null)
{
    <div class="time-entry-container">
        <span>
            <label>@TimeEntryModel.Date.ToString(Constants.DateFormat)</label>
        </span>
        <span>
            <label for="StartTime">Start</label>
            <InputDate id="StartTime" Type="InputDateType.Time" @bind-Value="TimeEntryModel.StartTime" @bind-Value:after="@Refresh" />
        </span>
        <span>
            <label for="EndTime">End</label>
            <InputDate id="EndTime" Type="InputDateType.Time" @bind-Value="TimeEntryModel.EndTime" @bind-Value:after="@Refresh" />
        </span>
        <label>Total hours: @CalculateHoursWorked(TimeEntryModel)</label>
    </div>
}
