.week-entry-container {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

@media(max-width: 800px) {
    .week-entry-container {
        flex-direction: column;
    }
}
