.week-entry-container {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:768px) {
    .week-entry-container {
        flex-direction: column;
    }
}
