@if (WeekEntryModel is { StartDate.DayOfWeek: DayOfWeek.Sunday })
{
    <div class="week-entry-container">
        <EditForm Model="WeekEntryModel" OnValidSubmit="SaveTimeEntryAsync">
            <DataAnnotationsValidator />
            @foreach (var timeEntryModel in WeekEntryModel.TimeEntries.OrderBy(timeEntry => timeEntry.Date))
            {
                <TimeEntry TimeEntryModel="timeEntryModel" />
            }
            <span>Total hours: @WeekEntryModel.TotalHours.ToString(Constants.HoursFormat)</span>
            <br />
            <span>
                Remaining hours: <strong>@((Constants.MaxHours - WeekEntryModel.TotalHours).ToString(Constants.HoursFormat))</strong> out of @Constants.MaxHours.ToString(Constants.HoursFormat)
            </span>
            <div>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
        </EditForm>
    </div>
}
