.week-entry-container {
    padding: 5px;
    margin: 5px;
}

@media(max-width: 800px) {
    .week-entry-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
