@page "/"

<PageTitle>Time Tracker</PageTitle>

<div class="index-container">
    <h1>Time Tracker</h1>

    <input type="date" @bind="StartDate" />

    <WeekEntry WeekEntryModel="WeekEntryModel" />
</div>
