@page "/"

<PageTitle>Time Tracker</PageTitle>

<div class="index-container">
    <h1>Time Tracker</h1>

    @if (WeekEntryModel is not null)
    {
        <input type="date" @bind-value="@WeekEntryModel.StartDate" @bind-value:after="OnStartDateChanged" />

        <WeekEntry WeekEntryModel="WeekEntryModel" />
    }
</div>
