@page "/"

<PageTitle>Time Tracker</PageTitle>

<div class="index-container">
    <h1>Time Tracker</h1>

    @if (WeekEntryModel is not null)
    {
        <div>
            <input id="startDateInput"
                   type="date"
                   @bind="startDate" />
            <button type="button" class="btn btn-primary" @onclick="OnStartDateChangedAsync">Load</button>
        </div>
        <WeekEntry WeekEntryModel="WeekEntryModel" />
    }
</div>
