@page "/"

<PageTitle>Time Tracker</PageTitle>

<div class="index-container">
    <h1>Time Tracker</h1>

    @if (WeekEntryModel is not null)
    {
        <input id="startDateInput"
               type="date"
               value="@DateOnly.FromDateTime(DateTime.Today)"
               @onchange="OnStartDateChanged" />
        <WeekEntry WeekEntryModel="WeekEntryModel" />
    }
</div>

<h3>Test Area</h3>

@if (TestTimeEntries is { Count: > 0 })
{
    @foreach (var timeEntry in TestTimeEntries)
    {
        <TimeEntry TimeEntryModel="timeEntry" />
        <button type="button" 
                class="btn btn-danger"
                @onclick="async () => await DeleteTimeEntryAsync(timeEntry)">
            Delete
        </button>
    }
}
