@page "/"

<PageTitle>Time Tracker</PageTitle>

<div class="index-container">
    <h1>Time Tracker</h1>

    @if (WeekEntryModel is not null)
    {
        <input id="startDateInput"
               type="date"
               value="@DateOnly.FromDateTime(DateTime.Today)"
               @onchange="OnStartDateChangedAsync" />
        <WeekEntry WeekEntryModel="WeekEntryModel" />
    }
</div>
